{
  "branches": ["main"],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    [
      "@semantic-release/npm",
      {
        "pkgRoot": "packages/uplofile",
        "provenance": true
      }
    ],
    [
      "@semantic-release/git",
      {
        "assets": ["packages/uplofile/package.json", "CHANGELOG.md"]
      }
    ],
    "@semantic-release/github"
  ]
}
